.venue-card-wrapper {
  //   border: solid lightgreen 2px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  ul {
    // border: solid green 2px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 18%;

    li {
      font-family: "poppins", sans-serif;
      margin-bottom: 4px;
    }

    .venue-image-container {
      //   border: solid violet 2px;
      height: 170px;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    .name {
      //   border: solid green 2px;
      display: flex;
      img {
        height: 15px;
        margin-right: 4px;
        border-radius: 10px;
      }
      span {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        font-weight: 700;
        height: 20px;
      }
    }

    .address {
      font-weight: 300;
      color: grey;
    }

    .rating {
      //   border: solid crimson 2px;
      height: 20px;
    }
    .description {
      //   border: solid blue 2px;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
