.hero-wave-container {
  // border: 1px crimson solid;
  height: 29vh;
  display: flex;
  flex-direction: column;

  .hero-container {
    // border-bottom: solid #7b4ec3 3px;
    height: 29vh;
    width: 100%;
    background-image: url("../images/hero-background-dish.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;

    span {
      // border: solid yellow 2px;
      color: white;
      font-family: "poppins", sans-serif;
      font-size: 50px;
      font-weight: 700;
      font-style: normal;
      padding-top: 5vh;
      margin-bottom: 20px;
    }
  }
  .wave-container {
    // border: 2px blue solid;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    // display: flex;

    img {
      // background-color: yellow;
      object-fit: cover;
      width: 100%;
      height: 50%;
      position: relative;
      top: 15vh;
      // bottom: 0.1vh;
    }
  }
}

.loader {
  // border: solid crimson 1px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
