.pagination {
  // border: 1px pink solid;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.venue-card-wrapper {
  // border: solid lightgreen 2px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  ul {
    // border: solid green 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

    // li {
    //   border: solid lightcoral 2px;
    // font-family: "poppins", sans-serif;
    //   margin-bottom: 4px;
    // }

    .venue-image-container {
      // border: solid violet 2px;
      height: 170px;
      width: 100%;
      margin-bottom: 5px;

      img {
        // border: 1px grey solid;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    .name {
      // border: solid green 2px;
      display: flex;
      img {
        height: 15px;
        margin-right: 4px;
      }
      span {
        font-family: "poppins", sans-serif;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 700;
        height: 20px;
      }
    }

    .address {
      // border: 1px solid violet;
      font-family: "poppins", sans-serif;
      font-weight: 300;
      color: grey;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .rating {
      //   border: solid crimson 2px;
      height: 20px;
    }
    .description {
      // border: solid blue 2px;
      font-family: "poppins", sans-serif;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: smaller;
    }
  }
}
