.venue-hero {
  // border-bottom: solid #7b4ec3 2px;
  height: 3vw;
  background-color: #7b4ec3;
  // background-image: url(../images/details-hero-background.jpg);
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10vw;

  .venue-name {
    // border: 1px blue solid;
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
  }

  .ratings {
    // border: 1px chartreuse solid;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 2vw;
    padding-top: 1vh;

    .euro-rating {
      // border: 1px solid lightcoral;
      color: crimson;
      font-family: "poppins", sans-serif;
      font-size: 12px;
      font-weight: 500;
      font-style: italic;
      margin-bottom: 5px;

      img {
        // border: 1px blue solid;
        height: 18px;
      }
    }
  }
}

.venue-details-container {
  // background-color: orange;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40vh;
  display: flex;
  justify-content: space-around;

  .venue-info {
    // background-color: brown;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: "poppins", sans-serif;
    font-size: 12px;
    font-weight: 300;
    overflow-wrap: break-word;
    height: 20vh;
    width: 20%;

    div {
      // border: green 1px solid;
      display: flex;
      align-items: center;
      margin-bottom: 1vh;
      width: 100%;

      img {
        // border: 1px solid blue;
        height: 20px;
        margin-right: 8px;
      }

      span {
        // border: 1px violet solid;
        width: 90%;
      }
      i {
        width: 90%;
        font-style: italic;
        color: crimson;
      }
    }
  }
  .venue-description-gallery {
    // background-color: bisque;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-family: "Handlee", cursive;
    font-size: 20px;
    color: #3f3f3f;
    height: 45vh;
    width: 78%;

    .venue-description {
      // border: 1px solid black;
      margin-bottom: 10px;
    }

    .venue-gallery {
      // background-color: yellow;
      height: 38vh;
    }
  }
}
