.link {
  text-decoration: none;
  color: #7b4ec3;
}

.link:hover {
  text-decoration: underline;
}

.venue-gallery {
  // background-color: yellow;
  height: 30vh;
  border-bottom: #7b4ec3 1px solid;
}

.venue-body-container {
  // border: 2px solid green;
  width: 100vw;
  display: flex;
  justify-content: center;

  .venue-body-narrower {
    // border: 2px solid limegreen;
    width: 70%;
    padding-top: 1vh;
    display: flex;
    align-items: start;
    justify-content: space-between;

    .venue-hero-description {
      // border: crimson solid 2px;
      display: flex;
      flex-direction: column;
      width: 65%;

      .venue-hero {
        // border: solid pink 2px;
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 2vh;

        .venue-name {
          // border: 1px blue solid;
          font-family: "poppins", sans-serif;
          font-size: 30px;
          font-weight: 700;
          font-style: normal;
          display: flex;
          align-items: center;
          margin-right: 1vw;
        }

        .ratings {
          // border: 1px chartreuse solid;
          display: flex;
          flex-direction: column;
          align-items: start;

          .star-rating {
            // border: 2px green solid;
            height: 2vh;
            margin-bottom: 0.5vh;
          }

          .euro-rating {
            // border: 1px solid lightcoral;
            color: crimson;
            font-family: "poppins", sans-serif;
            font-size: 10px;
            font-weight: 500;
            font-style: italic;

            img {
              // border: 1px blue solid;
              height: 18px;
              margin-right: 0.1vw;
            }
          }
        }
      }
      .venue-description {
        // border: 1px solid black;
        margin-bottom: 10px;
        font-family: "nunito", sans-serif;
      }
    }
  }

  .venue-details-container {
    // border: #7b4ec3 solid 2px;
    width: 30%;
    display: flex;
    flex-direction: column;

    .venue-info {
      // background-color: brown;
      display: flex;
      flex-direction: column;
      padding-top: 1vh;
      padding-right: 1vw;
      padding-left: 1vw;
      margin-bottom: 0.5vh;
      font-family: "poppins", sans-serif;
      font-size: 12px;
      font-weight: 300;
      overflow-wrap: break-word;
      height: 30%;
      width: 100%;

      div {
        // border: green 1px solid;
        display: flex;
        align-items: center;
        margin-bottom: 1vh;
        width: 100%;

        img {
          // border: 1px solid blue;
          height: 20px;
          margin-right: 8px;
        }

        span {
          // border: 1px violet solid;
          width: 90%;
        }
        i {
          width: 90%;
          font-style: italic;
          color: crimson;
        }
      }
    }
    .venue-map {
      // border: 2px yellow solid;
      display: flex;
      justify-content: end;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
    }
  }
}
